/* FONTS: */

/* This is the font for <h1>: */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Nanum+Pen+Script&family=Sacramento&family=Tangerine:wght@700&display=swap');

/* This is the font for ::after elements of portraits: */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Sacramento&family=Tangerine:wght@700&display=swap');

/* GLOBAL ATTRIBUTES: */

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fff;
    font-size: 4vw;
    font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
    margin: 1.4vw 0 1.4vw 0;
}

/* DIVS WITH PORTRAITS: */

/* In this container we have 3 divs with portraits: */
.portraits {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Properties for all Portrait divs: */
.newtonPortrait, .einsteinPortrait, .keplerPortrait {
    width: 30%;
    position: relative;
    margin: 0 1% 0 1%;
}

/* The scientists names styling: */
.newtonPortrait:after, .einsteinPortrait:after,
.keplerPortrait:after {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 2.5vw;
    font-family: Allura, Arial, serif;
    left: 20%;
}

/* NEWTON'S PORTRAIT: */

/* Static black and white portrait: */
.newtonPortrait {
    background-image: url("portraits/StaticNewton.jpg");
}

/* Animated colorful portrait: */
.newtonPortrait:hover {
    background-image: url("portraits/AnimatedNewton.gif");
}

.newtonPortrait, .newtonPortrait:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 67%;
}

/* Scientists names applied via ::after elements
in all portrait divs: */
.newtonPortrait:after {
    content: 'Isaac Newton';
}

/* EINSTEIN'S PORTRAIT: */

/* Static black and white portrait: */
.einsteinPortrait {
    background-image: url("portraits/StaticEinstein.jpg");
}

/* Animated colorful portrait: */
.einsteinPortrait:hover {
    background-image: url("portraits/AnimatedEinstein.gif");
}

.einsteinPortrait, .einsteinPortrait:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 67%;
}

/* Scientists names applied via ::after elements
in all portrait divs: */
.einsteinPortrait:after {
    content: 'Albert Einstein';
}

/* KEPLER'S PORTRAIT: */

/* Static black and white portrait: */
.keplerPortrait {
    background-image: url("portraits/StaticKepler.jpg");
}

/* Animated colorful portrait: */
.keplerPortrait:hover {
    background-image: url("portraits/AnimatedKepler.gif");
}

.keplerPortrait, .keplerPortrait:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 67%;
}

/* Scientists names applied via ::after elements
in all portrait divs: */
.keplerPortrait:after {
    content: 'Johannes Kepler';
}

/* THE PORTRAIT FRAMES PNG PROPERTIES: */

.frame  {
    width: 100%;
    height: auto;
}

