@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Share+Tech+Mono&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(images/brickwall.jpg) no-repeat center fixed;
    background-size: cover;
    /*background-color: #043454;*/
}

header {
    width: 83.2vw;
}

/* DIVs width the descriptions of the phones styling: */

.phone-title {
    display: inline-block;
    width: 100%;
}

.phone-info {
    background: #c4b6b6;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #2cd2ee, #043454);
}

.desc {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 25px;
}

.desc-wraper-1 {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.desc-wraper {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Monoton, serif;
    font-size: 65px;
    font-weight: lighter;
    margin-bottom: 0;
    color: #2cd2ee;
    text-shadow: #2cd2ee 2px 2px 9px;
}

h2 {
    font-family: Aldrich, serif;
    margin-top: 0;
    margin-bottom: 45px;
    padding-left: 3px;
    color: #2cd2ee;
    text-shadow: #2cd2ee 2px 2px 9px;
}

h2:after {
    content: '';
    position: absolute;

    border: #2cd2ee 2px solid;
    width: 100px;
}

h3 {
    font-family: Aldrich, serif;
    font-size: 22px;
    padding-left: 3px;
}

h4 {
    margin: 0;
    font-family: Montserrat, serif;
    font-size: 15px;
    padding-left: 3px;
    text-transform: uppercase;
}

td {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.first-desc {
    width: 120px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* DIVs width the photographs of the phones styling: */

.phone-pic {
    background: rgba(76, 175, 80, 0);
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px 0 0 0;
}

.launch {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 13vw;
    height: 6vw;
    background: #2cd2ee;
    position: absolute;
    flex-wrap: wrap;
    left: -4.5vw;
    top: -1vw;
    transform: rotate(-45deg);
}

.launch-txt > p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.9vw;
    font-family: Aldrich, serif;
}

.img-wraper {
    width: 100%;
    height: 20vw;
    border: #2cd2ee solid 3px;
    border-radius: 15px 30% 10%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 18vw;
}

/* MAIN styling + grid positioning of all elements: */

main {
    display: grid;
    grid-gap: 0.2vw;
    grid-template-columns: 23vw 60vw;
    grid-template-rows: repeat(9, minmax(10vw, auto));
    grid-template-areas: 
        "siemens-m55-PIC siemens-m55-INFO"
        "motorola-v535-PIC motorola-v535-INFO"
        "motorola-v3x-PIC motorola-v3x-INFO"
        "nokia-1200-PIC nokia-1200-INFO"
        "lg-p690-PIC lg-p690-INFO"
        "nokia-x1-00-PIC nokia-x1-00-INFO"
        "philips-w6500-PIC philips-w6500-INFO"
        "zte-v7-lite-PIC zte-v7-lite-INFO"
        "huawei-p20-lite-PIC huawei-p20-lite-INFO"
    ;
}

/* Description of the phones positioning: */

.siemens-m55-INFO {
    grid-area: siemens-m55-INFO;
}

.motorola-v535-INFO {
    grid-area: motorola-v535-INFO;
}

.motorola-v3x-INFO {
    grid-area: motorola-v3x-INFO;
}

.nokia-1200-INFO {
    grid-area: nokia-1200-INFO;
}

.lg-p690-INFO {
    grid-area: lg-p690-INFO;
}

.nokia-x1-00-INFO {
    grid-area: nokia-x1-00-INFO;
}

.philips-w6500-INFO {
    grid-area: philips-w6500-INFO;
}

.zte-v7-lite-INFO {
    grid-area: zte-v7-lite-INFO;
}

.huawei-p20-lite-INFO {
    grid-area: huawei-p20-lite-INFO;
}

/* Pictures of the phones positioning: */

.siemens-m55-PIC {
    grid-area: siemens-m55-PIC;
}

.motorola-v535-PIC {
    grid-area: motorola-v535-PIC;
}

.motorola-v3x-PIC {
    grid-area: motorola-v3x-PIC;
}

.nokia-1200-PIC {
    grid-area: nokia-1200-PIC;
}

.lg-p690-PIC {
    grid-area: lg-p690-PIC;
}

.nokia-x1-00-PIC {
    grid-area: nokia-x1-00-PIC;
}

.philips-w6500-PIC {
    grid-area: philips-w6500-PIC;
}

.zte-v7-lite-PIC {
    grid-area: zte-v7-lite-PIC;
}

.huawei-p20-lite-PIC {
    grid-area: huawei-p20-lite-PIC;
}

/* Title color animation: */

.title-span-1 {
    animation-name: color_change-1;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes color_change-1 {
    0% { color: #2cd2ee; }
    10% { color: #2cd2ee; }
    20% { color: #043454; }
    30% { color: #2cd2ee; }
    40% { color: #043454; }
    50% { color: #2cd2ee; }
    60% { color: #2cd2ee; }
    70% { color: #2cd2ee; }
    80% { color: #2cd2ee; }
    90% { color: #2cd2ee; }
    100% { color: #2cd2ee; }
}

.title-span-2 {
    animation-name: color_change-2;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes color_change-2 {
    0% { color: #2cd2ee; }
    10% { color: #2cd2ee; }
    20% { color: #043454; }
    30% { color: #2cd2ee; }
    40% { color: #043454; }
    50% { color: #2cd2ee; }
    60% { color: #2cd2ee; }
    70% { color: #2cd2ee; }
    80% { color: #2cd2ee; }
    90% { color: #2cd2ee; }
    100% { color: #2cd2ee; }
}

/* For tablets and mobile screens: */

@media screen and (max-width: 1010px) {

    main {
        display: grid;
        grid-gap: 0.2vw;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, minmax(10vw, auto));
        grid-template-areas: 
            "siemens-m55-PIC"
            "siemens-m55-INFO"
            "motorola-v535-PIC"
            "motorola-v535-INFO"
            "motorola-v3x-PIC"
            "motorola-v3x-INFO"
            "nokia-1200-PIC"
            "nokia-1200-INFO"
            "lg-p690-PIC"
            "lg-p690-INFO"
            "nokia-x1-00-PIC"
            "nokia-x1-00-INFO"
            "philips-w6500-PIC"
            "philips-w6500-INFO"
            "zte-v7-lite-PIC"
            "zte-v7-lite-INFO"
            "huawei-p20-lite-PIC"
            "huawei-p20-lite-INFO"
        ;
    }

    h1 {
        font-size: 9vw;
    }

    h2 {
        font-size: 3vw;
    }

    /* Phone pictures styling: */

    .phone-pic {
        background: rgba(76, 175, 80, 0);
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        height: 200px;
    }

    .img-wraper {
        width: 100%;
        height: 200px;
        border: #2cd2ee solid 3px;
        border-radius: 2px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        max-height: 200px;
    }

    .launch {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 27vw;
        height: 11vw;
        background: #2cd2ee;
        position: absolute;
        flex-wrap: wrap;
        left: -10.5vw;
        transform: rotate(-45deg);
    }
    
    .launch-txt > p {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 1.9vw;
        font-family: Aldrich, serif;
    }

    /* Phone descriprion styling: */
    
    .phone-info {
        margin-bottom: 30px;
    }

}