body {
    background-image: url("images/background.jpg");
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

img {
    border-radius: 50%;
    width: 95%;
    height: auto;
    margin: 10px;
    position: sticky;
    top: 5px;
}

article {
    border: red 3px solid;
    color: #ffffff;
    background: #000000;
    position: relative;
}

nav {
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    border: 2px dashed yellowgreen;
}

main {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: auto;
}

section {
    background: #000000;
    width: 100%, 1000px;
    border: green 5px dotted;
    padding: 10px;
    margin: 10px;
}

section > p {
    color: #ffffff;
}